[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=python3 /home/salo/Documents/SO-dev/coranviewer/CoranViewer.py
Name=Coran Muhammadi Viewer (Kivy)
Comment=Coran Muhammadi Viewer (Kivy)
Categories=Office;
Icon=graphics-viewer-document
